.additemWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
  }
  
  .cancelSidebar {
    padding: 20px;
    align-self: stretch;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    min-height: 100px;
  }
  
  .addItemBox {
    flex-grow: 2;
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
  }
  
  .addItemForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 200px;
    border: 1px solid #e7e7e7;
  }

  .addCustomItemForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 200px;
    border: 1px solid #e7e7e7;
  }