.landingPageParent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
}

.landingPage1,
.landingPage2,
.signupForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.signupForm {
    min-height: 300px;
    justify-content: space-between;
}

.formBox {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 15px;
}

footer {
    float: right;
    margin-right: 20px;
    font-size: 10px
}
